<h1>Listing test_guide_scenarios</h1>

<table>
  <thead>
    <tr>
      <th>Test guide analysis</th>
      <th>Name</th>
      <th>Media</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_guide_scenarios.each do |test_guide_scenario| %>
      <tr>
        <td><%= test_guide_scenario.test_guide_analysis %></td>
        <td><%= test_guide_scenario.name %></td>
        <td><%= test_guide_scenario.media %></td>
        <td><%= link_to 'Show', test_guide_scenario %></td>
        <td><%= link_to 'Edit', edit_test_guide_scenario_path(test_guide_scenario) %></td>
        <td><%= link_to 'Destroy', test_guide_scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test guide scenario', new_test_guide_scenario_path %>
