<%= form_for(@simple_question) do |f| %>
  <% if @simple_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simple_question.errors.count, "error") %> prohibited this simple_question from being saved:</h2>

      <ul>
      <% @simple_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.text_field :media %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
