<h1>Listing simple_question_alternatives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Media</th>
      <th>Correct</th>
      <th>Simple question</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @simple_question_alternatives.each do |simple_question_alternative| %>
      <tr>
        <td><%= simple_question_alternative.name %></td>
        <td><%= simple_question_alternative.media %></td>
        <td><%= simple_question_alternative.correct %></td>
        <td><%= simple_question_alternative.simple_question %></td>
        <td><%= link_to 'Show', simple_question_alternative %></td>
        <td><%= link_to 'Edit', edit_simple_question_alternative_path(simple_question_alternative) %></td>
        <td><%= link_to 'Destroy', simple_question_alternative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simple question alternative', new_simple_question_alternative_path %>
